<div class='container' id='aboutCourse'>
    <div class='row'>
        <div class="col-xs-12 col-sm-12" id="lessonName"><h3>{[name]}</h3></div>
    </div>
    
    <div class="row">
        <div class="col-md-8 col-xs-8 col-sm-8">
            <div id="video">
                <iframe width="700" height="350" ng-src="{[getIframeSrc()]}" frameborder="0" allowfullscreen></iframe>
            </div>
            <div id="description">
                <p>{[description]}</p>
            </div>
        </div>

        <div class="col-md-4 col-xs-4 col-sm-4" >
            <div id="nextButton">
                <a ng-click="goToNextLesson()" ng-hide="last_lesson">Перейти к следующему уроку &raquo;</a>
                <p><a ng-click="goToPreviousLesson()" ng-hide="first_lesson">&laquo; Перейти к предыдущему уроку</a></p>
            </div>
            <div layout="row">
            <div flex="50" ng-repeat="lesson in plan.data">
              <md-checkbox ng-checked="exists(lesson, selected)" ng-click="toggle(lesson, selected)">
                {{ lesson.name }} 
              </md-checkbox>
            </div>
            </div>
        </div>
         
    </div>
    
    <div class='row'>
        <div class="col-xs-6" id="sendCommentForm">
            <label for="commentTextInput">Ваш комментарий:</label>
            <textarea class="form-control" id="commentTextInput" rows="3" ng-model="comment_data.text"></textarea>
            <div class="form-actions">
              <button type="submit" class="btn btn-primary" ng-click="sendComment()">Отправить</button>
            </div>
        </div>
        <div id="allComments" ng-repeat="comment in show_comments" class="col-xs-8">
            <div id="commentAuthor" class="col-xs-2">
                {[comment.author_name]}
            </div>
            <div class="col-xs-offset-2" id="commentText">
                {[comment.text]}
            </div>
            <div class="col-xs-offset-5" id="commentTimestamp">
                {[comment.timestamp]}
            </div>
        </div>
    </div>
</div>