<div class="jumbotron">
<div class="container">
    <div class="row page-header" >
        <h1 id='coursename'> {[course.name]}</h1>
    </div>
    <div class='row'>
        <div class="col-md-4 col-sm-12 col-xs-12 " id='phone-images' >
            
            <img ng-src="{[course.image]}" width="150" height="150" class="img-circle"/>
            
            <p>Стоимость: {[course.cost]}</p>
            <p>Формат: {[course.format]}</p>
            <a class="btn btn-success" id="subscr" ng-click="subscribe(course.id)" ng-hide="if_subscr" role="button">Записаться</a>
            <div ng-show="if_subscr">
                <p>Вы подписаны на этот курс.</p>
                <a ng-click="seeDetails(course.id)">Перейти к материалам курса &raquo;</a>
            </div>
        </div>

        <div class="col-md-8 col-sm-12 col-xs-12" id="descr">
            <p>{[course.description]}</p>
        </div>
    </div>
    
        <div class="row" id='Programma'>
            <div class="col-md-12 col-md-offset-3 col-xs-12" ng-controller="PlanCtrl">
                <div class="boxprogramma">
                <h1>Программа курса</h1>
                <div ng-repeat="lesson in plan.data">
                    <div class="row" id="plan">
                        <div class="col-xs-3">
                            {[lesson.name]}
                        </div>
                        <div class="col-xs-9">
                            {[lesson.description]}
                        </div>
                    </div>
                    <hr>
                </div>
                </div>
        </div>
    </div>
</div>
</div>
