<div class='container' id='aboutCourse'>
    <div class='row'>
        <div class="col-xs-12 col-sm-12"><h3>{[name]}</h3></div>
    </div>
    
    <div class="row">
        <div class="col-md-8 col-xs-8 col-sm-8">
            <div id="video">
                <iframe width="700" height="350" ng-src="{[getIframeSrc()]}" frameborder="0" allowfullscreen></iframe>
            </div>
            <div id="description">
                <p>{[description]}</p>
            </div>
        </div>

        <div class="col-md-4 col-xs-4 col-sm-4">
            <div id="nextButton">
                <a ng-click="goToNextLesson()">Перейти к следующему уроку &raquo;</a>
                <p><a ng-click="goToPreviousLesson()" ng-hide="first_lesson">&laquo; Перейти к предыдущему уроку</a></p>
            </div>
            <label class="checkbox inline">
              <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
            </label>
            <label class="checkbox inline">
              <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
            </label>
            <label class="checkbox inline">
              <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
            </label>
        </div>
    </div>
    
    <div class='row'>
        <div class="col-md-8 col-xs-8 col-sm-8">
            <textarea rows="5"></textarea>
            <div class="form-actions">
              <button type="submit" class="btn btn-primary">Отправить</button>
            </div>
        </div>
    </div>
</div>