<div class="row col-lg-12" id='header'>
        <h1>Онлайн-школа по фотографии</h1>
            <form class="form-search" action="#/search" method="get">
                <input type="text" class="input-medium search-query" name="q">
                <button type="submit" class="btn">Поиск</button>
               
            </form>
    </div>
            
    <div class="row col-lg-8 col-lg-offset-2">
        <h2>Популярные курсы</h2>
            <div class="col-lg-2 col-mg-2" id='courses' ng-repeat='course in courses.data'>
                <p>LIKE</p>
                <img ng-src="{[course.image]}" width="100" height="100"/>
                <p><strong>{[course.name]}</strong></p>
                <p><a class="btn btn-default" href="/courses/{[course.id]}" role="button">View details &raquo;</a></p>
                
            </div>
    </div>