<div class="row">
  <h1>Регистрация</h1>
  <form class="form" role='form' id="profileform">
      <div class="col-xs-5">
    <div class="form-group">
      <label for='inputName'>Имя</label>
      <input class="form-control" id='inputName' name="name" ng-model='formInfo.username'>
    </div>
    <div class="form-group">
      <label for='inputEmail1'>Email</label>
      <input class="form-control" id='inputEmail1' name="email" ng-model="formInfo.email" required>
    </div>
    <div class="form-group">
      <label for='inputCity'>Город</label>
      <input class="form-control" id='inputCity' name="city" ng-model="formInfo.city" required>
    </div>
    <div class="form-group">
      <label for='inputCountry'>Страна</label>
      <input class="form-control" id='inputCountry' name="country" ng-model="formInfo.country" required>
    </div>
      <div class="form-group">
      <label for='inputCameras'>Камеры</label>
      <input class="form-control" id='inputCameras' name="cameras" ng-model="formInfo.cameras">
    </div>
    
      <div class="form-group">
        <button type="submit" ng-click='saveData()' class="btn btn-success">Register</button>
      </div>
    <span>{[formInfo]}</span>
    <span>{[saveData]}</span>
    </div>
      <div class="col-xs-4">
        Аватар
      </div>
  </form>

    
</div>