<p>Это страница поиска.</p>
<!--

<p>f</p>
<p>g</p><p></p>

<p>g</p>
<p>g</p>




<div ng-controller="SearchCtrl">
  <form class="form-search" name="submitParam" ng-submit="submitFunc(submitParam)">
    <input type="text" class="input-medium search-query" placeholder={[queryS]} name="q" ng-model="queryS">
    <button type="submit" class="btn">Поиск</button>
  </form>
<div ng-repeat='course in courses.data'>
      <h2>Результаты поиска</h2>
    <div ng-repeat="course in res.data" id="courses_search">
      <div class="col-xs-2"><img ng-src="{[course.image]}" width="100" height="100"></div>
      <div class="col-xs-10">{[course.name]}</div>
    
  
    </div>
    </div>
  
</div>
      <p><a class="btn btn-default" href="#/courses/{[course.name]}" role="button">View details &raquo;</a></p> -->