#menu_profile{
     
}
#login{
    background: black;
}
#header{
    background-image: url(../icon/foto.jpg);
    background-size: 100%;
    height: 200px;
}
#search{
    margin-top: 60px;
}

.form-search{
    margin-left: 40%;
}
h3, h2, h1{
    text-align: center;
}

#content{
    background: gray;
    height: 60px;
}
#footer{
    background: black;
    height: 80px;
}

#profileform{
    background: white;
    padding-left: 200px;
    padding-top: 50px;

}
.control-group{
    padding: 5px;
}
#courses{
    border: 1px solid gray;
    height: 250px;
    padding: 20px;
    text-align: left;
}
#Programma{
    padding: 80px;
}
#aboutCourse{
    margin-top: 60px;
}

#courses_search{
    border: 1px solid gray;
    height: 200px;
    padding: 15px;
}
#loggedUser{
    color: #00b3ee;
}

#plan{
    padding-bottom: 20px;
}