#login{
    background: black;
}
#header{
    background-image: url(../icon/foto.jpg);
    background-size: 100%
}
.form-search{
    margin-left: 40%;
}
h2, h1{
    text-align: center;
    padding: 60px;
}
#content{
    background: gray;
    height: 60px;
}
#footer{
    background: black;
    height: 80px;
}

#profileform{
    background: greenyellow;
    padding-left: 200px;
    padding-top: 50px;

}
.control-group{
    padding: 5px;
}
#courses{
    border: 1px solid gray;
    height: 350px;
    padding: 5px;
}
#img{

}