<!DOCTYPE html>
<html lang="en" ng-app="glavApp">
<head>
    <meta charset="UTF-8">
    <title>ZZOOMY - онлайн курсы по фотографии от ведущих специалистов</title>
    <link rel=stylesheet type=text/css href="style.css">
    <link rel=stylesheet href="bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="row-fluid">
    <div class="shapka">
        <div class="loginer span1">
            {% for message in get_flashed_messages() %}
            <p><b>Error</b>: {{ message }}</p>
                {% endfor %}
                {% if current_user.is_authenticated %}
            <h2>Hi, {{ current_user.nickname }}!</h2>
            <p><a href="{{ url_for('logout') }}">Logout</a></p>
                {% else %}
            <p><a href="{{ url_for('oauth_authorize', provider='facebook') }}"><img src="icon/facebook.png" width="40" height="40" alt="Facebook"></a></p>
            <p><a href="{{ url_for('oauth_authorize', provider='vkontakte') }}"><img src="icon/vk.png" width="40" height="40"></a></p>
            <p><a href="{{ url_for('oauth_authorize', provider='google') }}"><img src="icon/google.png" width="40" height="40"></a></p>
            <p><a href="{{ url_for('oauth_authorize', provider='twitter') }}"><img src="icon/tweet.png" width="40" height="40"></a></p>
                {% endif %}
         </div>
    <h1>Онлайн-школа по фотографии</h1>
    <div class="span4">
        <form class="form-search" action="/search" method="get">
            <input type="text" class="input-medium search-query" name="q">
            <button type="submit" class="btn">Поиск</button>
        </form>
   </div>
    </div>
        <div class="col-xs-1 col-sm-10" ng-controller="CoursCtrl">
            <h2>Популярные курсы</h2>
        </div>
        <div class="info" ng-controller="CoursCtrl">
            {[title]}
        </div>
    </div>
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
</body>
</html>