<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ZZOOMY - онлайн курсы по фотографии от ведущих специалистов</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel=stylesheet href="{{url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css')}}">
</head>
<body>
    <div class="row-fluid">
    <div class="shapka">
        <div class="loginer span1">
            {% for message in get_flashed_messages() %}
            <p><b>Error</b>: {{ message }}</p>
                {% endfor %}
                {% if current_user.is_authenticated %}
            <h2>Hi, {{ current_user.nickname }}!</h2>
            <p><a href="{{ url_for('logout') }}">Logout</a></p>
                {% else %}
            <p><a href="{{ url_for('oauth_authorize', provider='facebook') }}"><img src="{{url_for('static', filename='icon/facebook.png')}}" width="40" height="40" alt="Facebook"></a></p>
            <p><a href="{{ url_for('oauth_authorize', provider='vkontakte') }}"><img src="{{url_for('static', filename='icon/vk.png')}}" width="40" height="40"></a></p>
            <p><a href="{{ url_for('oauth_authorize', provider='google') }}"><img src="{{url_for('static', filename='icon/google.png')}}" width="40" height="40"></a></p>
            <p><a href="{{ url_for('oauth_authorize', provider='twitter') }}"><img src="{{url_for('static', filename='icon/tweet.png')}}" width="40" height="40"></a></p>
                {% endif %}
         </div>
    <h1>Онлайн-школа по фотографии</h1>
    <div class="span4">
        <form class="form-search">
            <input type="text" class="input-medium search-query">
            <button type="submit" class="btn">Поиск</button>
        </form>
   </div>
    </div>
        <div class="popular_curs span12">
            <h2>Популярные курсы</h2>
        </div>
        <div class="info">

        </div>
    </div>
</body>
</html>